#main {
  min-height: 80vh;
}

.bundle-wrapper {
  border-radius: 13px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
  margin-bottom: 75px;
}
.bundle-header {
  background-color: #e1251b;
  color: white;
  font-size: 28px;
  padding: 20px 20px;
}

.bundle-header h2 {
  margin-bottom: 0;
  font-weight: bold;
}

.bundle-header > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bundle-content {
  padding: 30px 20px;
}

.bundle-item {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bundle-item:first-child {
  padding-top: 0;
}

.bundle-item:last-child {
  border: none;
}

.bundle-name {
  flex: 1;
}

.bundle-specs {
  flex: 4;
}

.bundle-head {
  display: none;
}

.bundle-head.show-this {
  display: flex !important;
}

.bundle-item:first-child .bundle-head {
  display: flex;
  justify-items: ;
}

.bundle-sub h4 {
  color: #e1251b;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}
.bundle-sub h5 {
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.bundle-head h3 {
  color: #e1251b;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
.bundle-specs .bundle-head {
  padding: 0 10px;
}
.bundle-specs .bundle-head h3 {
  /* white-space: nowrap; */
}

.ws-20 {
  width: 20%;
}

.ws-25 {
  width: 25%;
}

.ws-16 {
  width: 16.666666667%;
}

.bundle-info > div {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 9999px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.bundle-info > div:nth-child(even) {
  background-color: white;
}

.bundle-info > div:last-child {
  margin-bottom: 0;
}

.bundle-info > div > h6 {
  color: #444444;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.bundle-sub-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-width {
    width: 33vw;
    flex-shrink: 0;
  }
  .bundle-item {
    overflow-y: auto;
    padding-top: 15px;
    margin-bottom: 30px;
  }

  .bundle-info > div,
  .bundle-item:first-child .bundle-head,
  .bundle-specs .bundle-head {
    gap: 10px;
  }

  .bundle-head {
    display: flex !important;
  }

  .bundle-name > .bundle-head {
    display: none !important;
  }

  .bundle-head h3 {
    margin-bottom: 5px;
  }
  .bundle-sub {
    display: none;
  }
  .bundle-sub-mobile {
    display: block;
    padding-left: 10px;
  }
  .bundle-sub-mobile > h4 > span {
    color: #e1251b;
  }
  .bundle-sub-mobile > h4 {
    font-weight: 800;
  }
}
